@model Checkout
@{
    List<CheckoutBook> checkoutBooks = ViewBag.CheckoutBooks;
    IEnumerable<Book> books = ViewBag.Books;
    double total = 0;
}
<main id="content" class="page-section inner-page-sec-padding-bottom space-db--20">
    <form method="post" asp-action="checkout" asp-controller="home">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Checkout Form s-->
                    <div class="checkout-form">
                        <div class="row row-40">
                            <div class="col-12">
                                <h1 class="quick-title">Checkout</h1>
                                <!-- Slide Down Trigger  -->
                                <div class="checkout-quick-box">
                                    <p>
                                        <i class="far fa-sticky-note"></i>Returning customer? <a href="javascript:"
                                                                                                 class="slide-trigger" data-target="#quick-login">
                                            Click
                                            here to login
                                        </a>
                                    </p>
                                </div>
                                <!-- Slide Down Blox ==> Login Box  -->
                                <div class="checkout-slidedown-box" id="quick-login">
                                    <form action="https://demo.hasthemes.com/pustok-preview/pustok/">
                                        <div class="quick-login-form">
                                            <p>
                                                If you have shopped with us before, please enter your details in the
                                                boxes below. If you are a new
                                                customer
                                                please
                                                proceed to the Billing & Shipping section.
                                            </p>
                                            <div class="form-group">
                                                <label for="quick-user">Username or email *</label>
                                                <input type="text" placeholder="" id="quick-user">
                                            </div>
                                            <div class="form-group">
                                                <label for="quick-pass">Password *</label>
                                                <input type="text" placeholder="" id="quick-pass">
                                            </div>
                                            <div class="form-group">
                                                <div class="d-flex align-items-center flex-wrap">
                                                    <a href="#" class="btn btn-outlined   mr-3">Login</a>
                                                    <div class="d-inline-flex align-items-center">
                                                        <input type="checkbox" id="accept_terms" class="mb-0 mr-1">
                                                        <label for="accept_terms" class="mb-0">
                                                            I’ve read and accept
                                                            the terms &amp; conditions
                                                        </label>
                                                    </div>
                                                </div>
                                                <p>
                                                    <a href="javascript:" class="pass-lost mt-3">
                                                        Lost your
                                                        password?
                                                    </a>
                                                </p>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <!-- Slide Down Trigger  -->
                                <div class="checkout-quick-box">
                                    <p>
                                        <i class="far fa-sticky-note"></i>Have a coupon? <a href="javascript:"
                                                                                            class="slide-trigger" data-target="#quick-cupon">
                                            Click here to enter your code
                                        </a>
                                    </p>
                                </div>
                                <!-- Slide Down Blox ==> Cupon Box -->
                                <div class="checkout-slidedown-box" id="quick-cupon">
                                    <form action="https://demo.hasthemes.com/pustok-preview/pustok/">
                                        <div class="checkout_coupon">
                                            <input type="text" class="mb-0" placeholder="Coupon Code">
                                            <a href="#" class="btn btn-outlined">Apply coupon</a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col-lg-7 mb--20">
                                <!-- Billing Address -->
                                <div id="billing-form" class="mb-40">
                                    <h4 class="checkout-title">Billing Address</h4>
                                    <div class="row">
                                        <div class="col-md-6 col-12 mb--20">
                                            <label>First Name*</label>
                                            <input asp-for="FirstName" placeholder="First Name">
                                            <span asp-validation-for="FirstName" style="color:red"></span>
                                        </div>
                                        <div class="col-md-6 col-12 mb--20">
                                            <label>Last Name*</label>
                                            <input asp-for="LastName" placeholder="Last Name">
                                            <span asp-validation-for="LastName" style="color:red"></span>

                                        </div>
                                        <div class="col-12 col-12 mb--20">
                                            <label>Country*</label>
                                            <input asp-for="Country" placeholder="Country">
                                            <span asp-validation-for="Country" style="color:red"></span>

                                        </div>
                                        <div class="col-md-6 col-12 mb--20">
                                            <label>Email Address*</label>
                                            <input asp-for="Email" placeholder="Email Address">
                                            <span asp-validation-for="Email" style="color:red"></span>

                                        </div>
                                        <div class="col-md-6 col-12 mb--20">
                                            <label>Phone no*</label>
                                            <input asp-for="PhoneNo" placeholder="Phone number">
                                            <span asp-validation-for="PhoneNo" style="color:red"></span>

                                        </div>
                                        <div class="col-12 mb--20">
                                            <label>Address*</label>
                                            <input asp-for="Address1" placeholder="Address line 1">
                                            <span asp-validation-for="FirstName" style="color:red"></span>
                                            <input asp-for="Address2" placeholder="Address line 2">
                                            <span asp-validation-for="Address2" style="color:red"></span>

                                        </div>
                                        <div class="col-md-6 col-12 mb--20">
                                            <label>Town/City*</label>
                                            <input asp-for="City" placeholder="Town/City">
                                            <span asp-validation-for="City" style="color:red"></span>

                                        </div>
                                        <div class="col-md-6 col-12 mb--20">
                                            <label>State*</label>
                                            <input asp-for="State" placeholder="State">
                                            <span asp-validation-for="State" style="color:red"></span>

                                        </div>
                                    </div>
                                </div>
                                <div class="order-note-block mt--30">
                                    <label for="order-note">Order notes</label>
                                    <textarea id="order-note" cols="30" rows="10" class="order-note"
                                              placeholder="Notes about your order, e.g. special notes for delivery."></textarea>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="row">
                                    <!-- Cart Total -->
                                    <div class="col-12">
                                        <div class="checkout-cart-total">
                                            <h2 class="checkout-title">YOUR ORDER</h2>
                                            <h4>Product <span>Total</span></h4>
                                            <ul>
                                                @foreach (var item in checkoutBooks)
                                                {
                                                    Book book = books.FirstOrDefault(b => b.Id == item.BookId);

                                                    <li>
                                                        <span class="left">@book.Title X @item.Count</span> <span class="right">$@book.SalePrice</span>
                                                    </li>
                                                    total += book.SalePrice;
                                                }

                                            </ul>
                                            <h4>Total <span>$@total</span></h4>
                                            <div class="method-notice mt--25">
                                                <article>
                                                    <h3 class="d-none sr-only">blog-article</h3>
                                                    Sorry, it seems that there are no available payment methods for
                                                    your state. Please contact us if you
                                                    require
                                                    assistance
                                                    or wish to make alternate arrangements.
                                                </article>
                                            </div>
                                            <div class="term-block">
                                                <input type="checkbox" id="accept_terms2">
                                                <label for="accept_terms2">
                                                    I’ve read and accept the terms &
                                                    conditions
                                                </label>
                                            </div>
                                            <button type="submit" class="place-order w-100">Place order</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </form>
</main>


